@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

.App {
  text-align: center;
}

.pageTitle {
  font-size: calc(15px + 0.8vw);

  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px black;
}

/* .navButton {
  display: inline;
} */